html {
    min-height: 100vh;
    color: red;

    body {
        margin: 0;
        min-height: 100vh;
        font-family: 'Roboto', sans-serif;
        font-size: 17px;

        header {
            .line-top {
                .b-logotype {
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    h1 {
                        margin: 0;
                        display: block;
                        width: 157px;
                        height: 47px;
                        background: url(../img/logotype.png) no-repeat;
                        border: 0;
                        span {
                            display: none;
                        }
                    }
                }
                .b-phone {
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span {
                        font-size: 24px;
                    }
                }

                @media (min-width: 410px) {
                    .b-logotype {
                        height: 95px;
                        justify-content: flex-start;
                    }
                    .b-phone {
                        @media (min-width: 410px) {
                            height: 95px;
                            justify-content: flex-end;
                        }
                    }
                }
            }

            .line-menu {
                .container {
                    .row {
                        display: flex;
                        justify-content: space-between;
                    }
                }

                font-size: 17px;
                a {
                    color:#333;
                }
                background: #f4f4f4;
                min-height: 67px;

                .b-menu {
                    min-height: 67px;
                    display: flex;
                    align-items: center;

                    ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;

                        li {
                            min-width: 50px;
                            min-height: 30px; line-height: 30px;
                            margin:0 20px 0 0;
                            &.current-menu-item {
                                a {
                                    color: #00acdd;
                                }

                            }
                        }

                    }
                }

                .widget_search {
                    max-width: 240px;
                    label, #searchsubmit {
                       display: none;
                    }
                    form {
                        min-height: 67px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        input {
                            height:37px;
                            padding: 0 10px;
                            border-radius: 20px;
                            border: 0;
                        }
                    }
                }

                @media (min-width: 410px) {
                    .b-menu {
                        justify-content: flex-start;
                    }
                    .widget_search {
                        justify-content: flex-end;
                    }
                }
            }

            .line-slider {
                position: relative;
                min-height: 296px;

                .line-slider--bg {
                    position: absolute;
                    background: #f4f4f4;
                    width:100%;
                    height: 296px;
                }
                .b-slider {
                    height: 336px;
                    background: #2073B2;

                    border-radius: 5px;
                    color: #fff;

                    padding: 0;
                    margin: 0;

                    .b-slider-wr {
                        position: relative;

                        .b-slider-txt {
                            z-index: 1;
                            position: absolute;
                            font-size: 22px;
                            min-height: 336px;
                            padding: 30px;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;

                            .b-slider-dte {
                                font-size: 13px;
                                text-transform: uppercase;
                                margin: 0 0 10px 0;
                            }
                            .b-slider-btn {
                                font-size: 10px;
                                text-transform: uppercase;

                                .btn {
                                    background: #fff;
                                    color: #00acdd;
                                    padding: 0 10px;
                                    &:hover {
                                        background: #00acdd;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                        .b-slider-foto {
                            z-index: 0;
                            min-height: 336px;
                            background: #999 url(../img/slide1.png) no-repeat center center;
                            border-radius: 5px;

                        }

                        @media (min-width: 992px) {
                            .b-slider-txt {
                                position: relative;
                                justify-content: space-between;
                            }
                            .b-slider-foto {
                                border-radius: 0 5px 5px 0;
                            }
                        }
                    }
                }
                .carousel {
                    height: 336px;
                    position: relative;

                    .carousel-controls {
                        position: absolute;
                        bottom: 25px;
                        right: 25px;
                        width: 41px;
                        height: 20px;
                        a {
                            width: 20px;
                            height: 20px;
                            background: #00acdd;
                            color:#fff;
                            opacity: 1;
                            &:hover {
                                background: #fff;
                                color:#00acdd;
                            }
                        }
                    }
                    .carousel-control-prev {

                        border-radius: 5px 0 0 5px;
                    }
                    .carousel-control-next {
                        border-radius: 0 5px 5px 0;
                    }
                }
            }
        }

        main {
            margin: 20px 0;

            .container {
                .col {
                    padding: 0;
                }
            }

            .b-sidebar {
                order: 1;
                padding: 0 15px 0 0;

                .widget {
                    h2.widget-title {
                        margin: 0;
                        padding: 0;
                        display: flex;
                        align-items: center;
                        min-height: 60px;
                        font-size: 26px;
                    }
                    .widget-body {
                        background: #EC9D13;
                        border-radius: 5px;
                        padding: 20px;
                    }
                }
            }
            .b-content {
                order: 0;
                padding: 0 0 0 15px;
                h2 {
                    margin: 0;
                    padding: 0;
                    font-size: 26px;
                    display: flex;
                    align-items: center;
                    min-height: 60px;
                }
                .main-wr {
                    .item {
                        min-height: 100px;
                        margin: 0 0 20px 0;
                        .c1 {
                            img {
                                width: 120px;
                                height: 70px;
                                border-radius: 5px;
                                background: #f1f1f1;
                            }
                        }
                        .c2 {
                            margin: 5px 0 0 0;
                            p {
                                margin: 0 0 5px 0;
                                a {
                                    color: #333;
                                }
                            }
                        }


                        @media (min-width: 410px) {
                            display: flex;
                            .c2 {
                                margin: -5px 0 0 20px;
                                p {
                                    margin: 0 0 5px 0;
                                }
                            }
                        }
                    }
                }
            }
            @media (min-width: 992px) {
                .b-sidebar {
                    order: 0;
                }
                .b-content {
                    order: 1;
                }
            }

            .test-shortcode {
                background: #333;
                color:#fff;
                border-radius: 5px;
                padding: 10px;

                &--00,&--01,&--02,&--03,&--04,&--05,&--06,&--07,&--17,&--18,&--19,&--20,&--21,&--22,&--23 {
                    background: #5A1F1F;
                }
                &--08,&--09,&--10,&--11,&--13,&--14,&--15,&--16 {
                    background: #6AE3AD;
                }
                &--12 {
                    background: #5550F7;
                }
            }
        }

        footer {
            display: flex;
            align-items: center;
            min-height: 245px;
            background: #333;

            .b-logotype-tr {
                width:200px;
                height: 65px;
                background: url(../img/logotype-transparent.png) no-repeat;
            }

        }
    }

}
.tst {
    font-family: 'Rubik', sans-serif;
}
.tst1 {
}
.tst2 {
    font-family: monospace !important;
    color: green;
}
