html {
  min-height: 100vh;
  color: red; }
  html body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 17px; }
    html body header .line-top .b-logotype {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center; }
      html body header .line-top .b-logotype h1 {
        margin: 0;
        display: block;
        width: 157px;
        height: 47px;
        background: url(../img/logotype.png) no-repeat;
        border: 0; }
        html body header .line-top .b-logotype h1 span {
          display: none; }
    html body header .line-top .b-phone {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center; }
      html body header .line-top .b-phone span {
        font-size: 24px; }
    @media (min-width: 410px) {
      html body header .line-top .b-logotype {
        height: 95px;
        justify-content: flex-start; } }

@media (min-width: 410px) and (min-width: 410px) {
  html body header .line-top .b-phone {
    height: 95px;
    justify-content: flex-end; } }
    html body header .line-menu {
      font-size: 17px;
      background: #f4f4f4;
      min-height: 67px; }
      html body header .line-menu .container .row {
        display: flex;
        justify-content: space-between; }
      html body header .line-menu a {
        color: #333; }
      html body header .line-menu .b-menu {
        min-height: 67px;
        display: flex;
        align-items: center; }
        html body header .line-menu .b-menu ul {
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          justify-content: center; }
          html body header .line-menu .b-menu ul li {
            min-width: 50px;
            min-height: 30px;
            line-height: 30px;
            margin: 0 20px 0 0; }
            html body header .line-menu .b-menu ul li.current-menu-item a {
              color: #00acdd; }
      html body header .line-menu .widget_search {
        max-width: 240px; }
        html body header .line-menu .widget_search label, html body header .line-menu .widget_search #searchsubmit {
          display: none; }
        html body header .line-menu .widget_search form {
          min-height: 67px;
          display: flex;
          align-items: center;
          justify-content: center; }
          html body header .line-menu .widget_search form input {
            height: 37px;
            padding: 0 10px;
            border-radius: 20px;
            border: 0; }
      @media (min-width: 410px) {
        html body header .line-menu .b-menu {
          justify-content: flex-start; }
        html body header .line-menu .widget_search {
          justify-content: flex-end; } }
    html body header .line-slider {
      position: relative;
      min-height: 296px; }
      html body header .line-slider .line-slider--bg {
        position: absolute;
        background: #f4f4f4;
        width: 100%;
        height: 296px; }
      html body header .line-slider .b-slider {
        height: 336px;
        background: #2073B2;
        border-radius: 5px;
        color: #fff;
        padding: 0;
        margin: 0; }
        html body header .line-slider .b-slider .b-slider-wr {
          position: relative; }
          html body header .line-slider .b-slider .b-slider-wr .b-slider-txt {
            z-index: 1;
            position: absolute;
            font-size: 22px;
            min-height: 336px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end; }
            html body header .line-slider .b-slider .b-slider-wr .b-slider-txt .b-slider-dte {
              font-size: 13px;
              text-transform: uppercase;
              margin: 0 0 10px 0; }
            html body header .line-slider .b-slider .b-slider-wr .b-slider-txt .b-slider-btn {
              font-size: 10px;
              text-transform: uppercase; }
              html body header .line-slider .b-slider .b-slider-wr .b-slider-txt .b-slider-btn .btn {
                background: #fff;
                color: #00acdd;
                padding: 0 10px; }
                html body header .line-slider .b-slider .b-slider-wr .b-slider-txt .b-slider-btn .btn:hover {
                  background: #00acdd;
                  color: #fff; }
          html body header .line-slider .b-slider .b-slider-wr .b-slider-foto {
            z-index: 0;
            min-height: 336px;
            background: #999 url(../img/slide1.png) no-repeat center center;
            border-radius: 5px; }
          @media (min-width: 992px) {
            html body header .line-slider .b-slider .b-slider-wr .b-slider-txt {
              position: relative;
              justify-content: space-between; }
            html body header .line-slider .b-slider .b-slider-wr .b-slider-foto {
              border-radius: 0 5px 5px 0; } }
      html body header .line-slider .carousel {
        height: 336px;
        position: relative; }
        html body header .line-slider .carousel .carousel-controls {
          position: absolute;
          bottom: 25px;
          right: 25px;
          width: 41px;
          height: 20px; }
          html body header .line-slider .carousel .carousel-controls a {
            width: 20px;
            height: 20px;
            background: #00acdd;
            color: #fff;
            opacity: 1; }
            html body header .line-slider .carousel .carousel-controls a:hover {
              background: #fff;
              color: #00acdd; }
        html body header .line-slider .carousel .carousel-control-prev {
          border-radius: 5px 0 0 5px; }
        html body header .line-slider .carousel .carousel-control-next {
          border-radius: 0 5px 5px 0; }
    html body main {
      margin: 20px 0; }
      html body main .container .col {
        padding: 0; }
      html body main .b-sidebar {
        order: 1;
        padding: 0 15px 0 0; }
        html body main .b-sidebar .widget h2.widget-title {
          margin: 0;
          padding: 0;
          display: flex;
          align-items: center;
          min-height: 60px;
          font-size: 26px; }
        html body main .b-sidebar .widget .widget-body {
          background: #EC9D13;
          border-radius: 5px;
          padding: 20px; }
      html body main .b-content {
        order: 0;
        padding: 0 0 0 15px; }
        html body main .b-content h2 {
          margin: 0;
          padding: 0;
          font-size: 26px;
          display: flex;
          align-items: center;
          min-height: 60px; }
        html body main .b-content .main-wr .item {
          min-height: 100px;
          margin: 0 0 20px 0; }
          html body main .b-content .main-wr .item .c1 img {
            width: 120px;
            height: 70px;
            border-radius: 5px;
            background: #f1f1f1; }
          html body main .b-content .main-wr .item .c2 {
            margin: 5px 0 0 0; }
            html body main .b-content .main-wr .item .c2 p {
              margin: 0 0 5px 0; }
              html body main .b-content .main-wr .item .c2 p a {
                color: #333; }
          @media (min-width: 410px) {
            html body main .b-content .main-wr .item {
              display: flex; }
              html body main .b-content .main-wr .item .c2 {
                margin: -5px 0 0 20px; }
                html body main .b-content .main-wr .item .c2 p {
                  margin: 0 0 5px 0; } }
      @media (min-width: 992px) {
        html body main .b-sidebar {
          order: 0; }
        html body main .b-content {
          order: 1; } }
      html body main .test-shortcode {
        background: #333;
        color: #fff;
        border-radius: 5px;
        padding: 10px; }
        html body main .test-shortcode--00, html body main .test-shortcode--01, html body main .test-shortcode--02, html body main .test-shortcode--03, html body main .test-shortcode--04, html body main .test-shortcode--05, html body main .test-shortcode--06, html body main .test-shortcode--07, html body main .test-shortcode--17, html body main .test-shortcode--18, html body main .test-shortcode--19, html body main .test-shortcode--20, html body main .test-shortcode--21, html body main .test-shortcode--22, html body main .test-shortcode--23 {
          background: #5A1F1F; }
        html body main .test-shortcode--08, html body main .test-shortcode--09, html body main .test-shortcode--10, html body main .test-shortcode--11, html body main .test-shortcode--13, html body main .test-shortcode--14, html body main .test-shortcode--15, html body main .test-shortcode--16 {
          background: #6AE3AD; }
        html body main .test-shortcode--12 {
          background: #5550F7; }
    html body footer {
      display: flex;
      align-items: center;
      min-height: 245px;
      background: #333; }
      html body footer .b-logotype-tr {
        width: 200px;
        height: 65px;
        background: url(../img/logotype-transparent.png) no-repeat; }

.tst {
  font-family: 'Rubik', sans-serif; }

.tst2 {
  font-family: monospace !important;
  color: green; }
